*{
    margin: 0;
}
body{
    overflow-x: hidden;
    height: 110vh;
}
#first-panel{
    position: sticky;
    top: 0;
    height: 100vh;
    background: rgb(24, 24, 24);
    align-items: center;
}

.first{
    width: 100%;
    transition: .7s;
}
.second{
    width: 300px;
    transition: .7s;
}

#prueba{
    transition: .7s;
    position: absolute;
    background-size: 100%;
    border-radius: 50% ;
    height: auto;
    aspect-ratio: 1 / 1; 
    
}
.first > #prueba {
    width: 450px;
    left: 100px;
    top: 100px; 
}
.second > #prueba{
    left: 15px;
    top: 20px;
    width: 270px;

}
#info{
    transition: .7s;
    position: absolute;
    text-align: center;
    
}
.first > #info{
    width: 400px;
    left: 630px;
    top: 300px;
}
.second > #info{
    left: 0;
    width: 300px;
    top: 300px;
}

h1{
    transition: .7s;
    color: #ab19ff
}

.first >#info > h1{
    font-size:50px;
}
.second >#info > h1{
    font-size:30px;
    
}


 img {
    margin-left: 1%;
    width: 5%;
    background: #fff;
    border: 3px solid #fff;
    border-radius: 50%;
}
img:hover{
    opacity: 59%;
}

.nor{
    background-image: url("../img/selfie.jpeg");
}
.normal{
    animation: realista .7s;
    background-image: url("../img/selfie.jpeg");
}
.pixel{
    animation: pixelado .7s;
    background-image: url("../img/selfie-pixel.png");
}

@keyframes pixelado { 
    0%{
        background-image: url("../img/selfie.jpeg");
    }
    70%{
    
        background-image: url("../img/selfie-pixel.png");
    }
    100%{
    transform: rotateY(360deg);
    }
}
@keyframes realista {
    0%{
        background-image: url("../img/selfie-pixel.png");
    }

    70%{
        background-image: url("../img/selfie.jpeg");
    }
    100%{
    transform: rotateY(360deg);
    }
}
#informacion {
    overflow-y: scroll;
    position: absolute;
    display: inline-block;
    transition: .7s;
    left: 330px;
    right: 10px;
    height: 96vh;
    
}
h3{
    margin-top: 10px;
    margin-bottom: 10px;
    color: #ab19ff; 
    font-size: 35px;
}
p{
    font-size: 20px;
    margin-bottom: 60px;
}
.info-show{
    top: 70px;
}
.info-hidden{
    top: 100px;
    transform: translateX(110%);
    opacity: 0;

}
::-webkit-scrollbar {
    width: 0;
}


/*
*{
    margin: 0;
}
#first-panel{
    width: 100%;
    padding-bottom: 20px ;
    background: rgb(24, 24, 24);
    text-align: center;
}
#prueba {
    position: relative;
    background-size: 100%;
    border-radius: 50% ;
    width: 200px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    top: 20px;
}
}
h1{
    position: relative;
    color: #ab19ff;
    margin-top: 30px;
    
}

 img {
    margin-top: 10px;
    background: #fff;
    border: 3px solid #fff;
    border-radius: 50%;
    width: 25px;
}
img:hover{
    opacity: 59%;
}
*/